@font-face {
 font-family: 'Aleo';
 src: url("../fonts/Aleo-Font/aleo-regular-webfont.woff2") format("woff2"),
        url("../fonts/Aleo-Font/aleo-regular-webfont.woff") format("woff");
  font-weight: 400;
}