$font-family--main: 'Josefin Sans', Arial, sans-serif;
$font-family--secondary: 'Aleo';

$font-size--main: 16px;
$font-weight--main: 400;
$line-height--main: 1.625;

$color--main: rgb(232, 232, 232);
$color--title: rgb(255, 255, 255);
$color--btn: rgb(255, 255, 255);

$bg-color--body: #0478bf;
$bg-color--btn: #5474fd;
$bg-color--gray: #333333;