.navigation {
	background-color: $bg-color--btn;
}

.navigation__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navigation__title {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}